<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <packageSources>
      <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    </packageSources>
  </solution>
  <packageSources>
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
    <add key="NuGetVimondAppVeyor" value="https://ci.appveyor.com/nuget/andersi-pcm8bt442a1m" />
  </packageSources>
  <packageSourceCredentials>
    <NuGetVimondAppVeyor>
      <add key="Username" value="nuget-appveyor@vimond.com" />
      <add key="ClearTextPassword" value="JX6#vFWyLs6vqJaE^$YK" />
    </NuGetVimondAppVeyor>
  </packageSourceCredentials>
</configuration>